name: "Godot Web Export"
on: push

env:
  GODOT_VERSION: 4.5.1
  EXPORT_NAME: index # The name of the html file

jobs:
  export-web:
    name: Web Export
    runs-on: ubuntu-latest
    container:
      image: barichello/godot-ci:4.5.1
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup
        run: |
          mkdir -v -p ~/.local/share/godot/export_templates
          mv /root/.local/share/godot/export_templates/${GODOT_VERSION}.stable ~/.local/share/godot/export_templates/${GODOT_VERSION}.stable
      
      - name: Build
        run: |
          mkdir -v -p build/web
          # IMPORTANT: Make sure you have a Web preset named "Web" in your export_presets.cfg
          # If your preset is named something else, change "Web" below to match it.
          godot --headless --verbose --export-release "Web" build/web/${EXPORT_NAME}.html

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: web-build
          path: build/web